<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <form [formGroup]="_editForm">

    <ion-card *ngIf="_editModel!=null">
      <ion-card-header >
        
        <ion-card-title >
          {{ _editModel.timbraturaTipo | tipoTimbraturaToLongText }}
        </ion-card-title>
          
      </ion-card-header>
      <ion-card-content>

        <ion-grid>



          <ion-item>
            <ion-label position="floating">Giorno Competenza</ion-label>
            <ion-datetime-button class="datetime-button-with-label" datetime="giornoCompetenza-modal"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="giornoCompetenza-modal"
                              formControlName="giornoCompetenza"
                              presentation="date"
                              [showDefaultButtons]="true"
                              doneText="OK"
                              cancelText="Annulla">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item *ngIf="_editForm.get('timbratura')?.value !== _editForm.get('timbraturaOriginale')?.value && _editModel.id>0">
            <ion-label position="floating">Timbratura Originale</ion-label>
            <ion-datetime-button [disabled]="true" class="datetime-button-with-label" datetime="timbraturaOriginale-modal"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="timbraturaOriginale-modal"
                              formControlName="timbraturaOriginale"
                              presentation="date-time"
                              [showDefaultButtons]="true"
                              doneText="OK"
                              cancelText="Annulla">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Timbratura</ion-label>
            <ion-datetime-button class="datetime-button-with-label" datetime="timbratura-modal"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="timbratura-modal"
                              formControlName="timbratura"
                              presentation="date-time"
                              [showDefaultButtons]="true"
                              doneText="OK"
                              cancelText="Annulla">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item *ngIf="_editModel.timbraturaTipo == TipoTimbratura.Entrata || _editModel.timbraturaTipo == TipoTimbratura.Uscita">
            <ion-label position="floating">Timbratura Arrotondata</ion-label>
            <ion-datetime-button [disabled]="true" class="datetime-button-with-label" datetime="timbraturaArrotondata-modal"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="timbraturaArrotondata-modal"
                              formControlName="timbraturaArrotondata"
                              presentation="date-time"
                              [showDefaultButtons]="true"
                              doneText="OK"
                              cancelText="Annulla">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Commessa Attivita</ion-label>
            <ion-select formControlName="idAz_SubCommessaAttivita" placeholder="Seleziona l attivita">
              <ion-select-option *ngFor="let attivita of az_SubCommessaAttivita_4FullList" [value]="attivita.subCommessaAttivita_Id">
                {{ attivita.cliente_Descrizione }} {{ attivita.commessa_Decrizione }} {{ attivita.subCommessa_Decrizione }} {{ attivita.subCommessaAttivita_Par_Attivita_Descrizione }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-note color="danger" *ngIf="_editForm.get('idAz_SubCommessaAttivita')?.hasError('required') && _editForm.get('idAz_SubCommessaAttivita')?.touched">
            L attivita è obbligatoria.
          </ion-note>





        </ion-grid>


      </ion-card-content>
    </ion-card>




  </form>


</ion-content>

<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>

