.day-list-container {
  margin-left: 20px;
}

.header-row {
  font-weight: 600;
  background: var(--ion-color-light, #f5f5f5);
  border-bottom: 1px solid #f4f4f4;
}

.header-cell {
  font-size: 1em;
  padding: 6px 4px;
}

.day-row {
  border-bottom: 1px solid var(--ion-item-background);
  font-size: 0.95em;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.day-cell {
  font-weight: bold;
}


.day-number {
  font-weight: bold;
  margin-right: 4px;
}

.day-name {
  color: #888;
  font-size: 0.95em;
}

.weekend .day-number,
.weekend .day-name {
  color: #b71c1c;
}



.no-data {
  color: #bbb;
  font-style: italic;
  font-size: 0.95em;
}


.chip-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
  align-items: center;
}








