<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>



      <div class="time-sheet-container">
        <app-sedi-reparto-user-navigation [showPeriodSelect]="true"
                                          [showSediSelect]="false"
                                          [showRepartoSelect]="true"
                                          [showUserSelect]="true"
                                          (periodChange)="onPeriodChange($event)"
                                          (sediIdChange)="onSedeChanged($event)"
                                          (repartoIdChange)="onRepartiChanged($event)"
                                          (allUsersIdChange)="onAllUsersInSelectionChanged($event)"
                                          (currUserIdChange)="onCurrentUserChanged($event)">
        </app-sedi-reparto-user-navigation>

        <div *ngIf="!currentDays || currentDays.length === 0" class="no-data-message">
          <p>Seleziona un utente per visualizzare i dati</p>
        </div>


        <div class="day-list-container" *ngIf="currentDays && currentDays.length > 0">

          <ion-grid class="ion-no-padding">
            <ion-row class="header-row">
              <ion-col size="2" class="header-cell">Giorno</ion-col>
              <ion-col size="5" class="header-cell">Timbrature</ion-col>
              <ion-col size="5" class="header-cell">Giustificativi</ion-col>
            </ion-row>

            <ion-row *ngFor="let day of currentDays; let indexRow4Color = index" [ngClass]="{'weekend': isWeekend(day.date)}"
                       [class.nvx-row-odd]="indexRow4Color % 2 !== 0"
                       [class.nvx-row-even]="indexRow4Color % 2 === 0"
                     class="day-row nvx-ion-row-4table nvx-row-hover">

              <ion-col size="2" class="day-cell">

                <ion-button fill="clear" size="small" [ngStyle]="{
                                                      '--color': get_label_day_color(day.date),
                                                      '--padding-top': '0px',
                                                      '--padding-bottom': '0px',
                                                      'font-size': '0.8em',
                                                      'margin-bottom':'0px',
                                                      'margin-top':'0px'
                                                    }"
                            (click)="actionSheetOpen(day)">
                  {{ day.date | date:'dd' }} {{ day.date | date:'EEE' }}
                </ion-button>


              </ion-col>
              <ion-col size="3">
                <ng-container *ngIf="day.dip_GG_Timbratura?.length > 0; else noTimb">

                  <ion-button [disabled]="(!timeSheetService.Dip_GG_Richiesta_Admin_Can_Approve( get_Dip_GG_Richiesta(record.idDip_GG_Richiesta) ) &&
                                       !timeSheetService.Dip_GG_Richiesta_Admin_Can_Reject(get_Dip_GG_Richiesta(record.idDip_GG_Richiesta)) )"
                              size="small" shape="round"
                              *ngFor="let record of day.dip_GG_Timbratura"
                              [ngStyle]="{
                                       '--background': timeSheetService.get_Dip_GG_Timbratura_backColor(record),
                                       '--color': timeSheetService.get_Dip_GG_Timbratura_txtColor(record),
                                       '--padding-top': '0px',
                                       '--padding-bottom': '0px',
                                       'font-size': '0.6em',
                                       'margin-bottom':'1px',
                                       'margin-top':'0px'
                                     }"
                              (click)="actionSheetOpen(record)">
                    {{ record.timbraturaTipo | tipoTimbraturaToShortText }} {{ record.timbratura | date:'HH:mm' }}
                    <ion-icon slot="end" [name]="timeSheetService.get_StatoRichiesta_icon(get_Dip_GG_Richiesta(record.idDip_GG_Richiesta))"></ion-icon>
                  </ion-button>


                </ng-container>
                <ng-template #noTimb>
                  <span class="no-data">-</span>
                </ng-template>
              </ion-col>
              <ion-col size="2">
                <ng-container *ngIf="day.dip_GG_Giustificativi?.length > 0; else noJust">


                  <ion-button [disabled]="(!timeSheetService.Dip_GG_Richiesta_Admin_Can_Approve( get_Dip_GG_Richiesta(just.idDip_GG_Richiesta) ) &&
                                             !timeSheetService.Dip_GG_Richiesta_Admin_Can_Reject(get_Dip_GG_Richiesta(just.idDip_GG_Richiesta)) )"
                              size="small" shape="round"
                              *ngFor="let just of day.dip_GG_Giustificativi"
                              [ngStyle]="{
                                        '--background': timeSheetService.get_Dip_GG_Giustificativi_backColor(just),
                                        '--color': timeSheetService.get_Dip_GG_Giustificativi_txtColor(just),
                                        '--padding-top': '0px',
                                        '--padding-bottom': '0px',
                                        'font-size': '0.6em',
                                        'margin-bottom':'1px',
                                        'margin-top':'0px'
                                      }"
                              (click)="actionSheetOpen(just)">
                    {{ just.idPar_Giustificativi | parGiustificativiToLongText }}
                    <ion-icon slot="end" [name]="timeSheetService.get_StatoRichiesta_icon(get_Dip_GG_Richiesta(just.idDip_GG_Richiesta))"></ion-icon>
                  </ion-button>

                </ng-container>
                <ng-template #noJust>
                  <span class="no-data">-</span>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>



      </div>

      <ion-action-sheet [isOpen]="isActionSheetOpen"
                        [header]="actionSheetHeader"
                        [subHeader]="actionSheetSubHeader"
                        [buttons]="actionSheetButtons"
                        (didDismiss)="actionSheetExecute($event)"></ion-action-sheet>
    </ion-card-content>
  </ion-card>

</ion-content>

