<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">
  <div class="time-sheet-container">
    <app-sedi-reparto-user-navigation [showPeriodSelect]="true"
                                      [showSediSelect]="false"
                                      [showRepartoSelect]="true"
                                      [showUserSelect]="true"
                                      (periodChange)="onPeriodChange($event)"
                                      (sediIdChange)="onSedeChanged($event)"
                                      (repartoIdChange)="onRepartiChanged($event)"
                                      (allUsersIdChange)="onAllUsersInSelectionChanged($event)"
                                      (currUserIdChange)="onCurrentUserChanged($event)">
    </app-sedi-reparto-user-navigation>

    <div *ngIf="!currentDays || currentDays.length === 0" class="no-data-message">
      <p>Seleziona un utente per visualizzare i dati</p>
    </div>


    <div class="day-list-container" *ngIf="currentDays && currentDays.length > 0">

      <ion-grid class="ion-no-padding">
        <ion-row class="header-row">
          <ion-col size="2" class="header-cell">Giorno</ion-col>
          <ion-col size="5" class="header-cell">Timbrature</ion-col>
          <ion-col size="5" class="header-cell">Giustificativi</ion-col>
        </ion-row>

        <ion-row *ngFor="let day of currentDays" [ngClass]="{'weekend': isWeekend(day.date)}" class="day-row">

          <ion-col size="2" class="day-cell">
            <span class="day-number">{{ day.date | date:'dd' }}</span>
            <span class="day-name">{{ day.date | date:'EEE' }}</span>
          </ion-col>
          <ion-col size="5" class="timestamps-cell">
            <ng-container *ngIf="day.dip_GG_Timbratura?.length > 0; else noTimb">
              <span *ngFor="let record of day.dip_GG_Timbratura" [ngClass]="getTimestampClass(record)" class="timestamp-badge">
                {{ record.timbraturaTipo | tipoTimbraturaToShortText }} {{ record.timbratura | date:'HH:mm' }}
                <ion-icon *ngIf="record.idDip_GG_Richiesta"
                          [name]="getStatusIcon(record.richiestaStato)"
                          class="status-icon"
                          [title]="getStatusText(record.richiestaStato)">
                </ion-icon>
              </span>
            </ng-container>
            <ng-template #noTimb>
              <span class="no-data">-</span>
            </ng-template>
          </ion-col>
          <ion-col size="5" class="justifications-cell">
            <ng-container *ngIf="day.dip_GG_Giustificativi?.length > 0; else noJust">
              <span *ngFor="let just of day.dip_GG_Giustificativi"
                    class="giustificativo-badge"
                    [style.background-color]="get_dip_GG_Giustificativi_backColor(just)"
                    [style.color]="get_dip_GG_Giustificativi_txtColor(just)">
                {{ just.idPar_Giustificativi | parGiustificativiToLongText }}
                <ion-icon *ngIf="just.idDip_GG_Richiesta"
                          [name]="getStatusIcon(just.richiestaStato)"
                          class="status-icon"
                          [title]="getStatusText(just.richiestaStato)">
                </ion-icon>
              </span>
            </ng-container>
            <ng-template #noJust>
              <span class="no-data">-</span>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>



    <!--<div class="day-list-container" *ngIf="currentDays && currentDays.length > 0">
      <div class="day-list-header">
        <div class="day-column">Giorno</div>
        <div class="timestamps-column">Timbrature</div>
        <div class="justifications-column">Giustificativi</div>
      </div>

      <div class="day-row" *ngFor="let day of currentDays" [ngClass]="{'weekend': isWeekend(day.date)}">
        <div class="day-column">
          <div class="day-number">{{ day.date | date:'dd' }}</div>
          <div class="day-name">{{ day.date | date:'EEEE' }}</div>

        </div>

        <div class="timestamps-column">
          <div class="no-data" *ngIf="!day.dip_GG_Timbratura || day.dip_GG_Timbratura.length === 0">
            Nessuna timbratura
          </div>
          <div class="timestamp-item" *ngFor="let record of day.dip_GG_Timbratura"
               [ngClass]="getTimestampClass(record)">
            <span>{{ record.timbraturaTipo | tipoTimbraturaToShortText }} {{ record.timbratura | date:'HH:mm' }}</span>
            <ion-icon *ngIf="record.idDip_GG_Richiesta"
                      [name]="getStatusIcon(record.richiestaStato)"
                      class="status-icon"
                      [title]="getStatusText(record.richiestaStato)">
            </ion-icon>
          </div>
        </div>

        <div class="justifications-column">
          <div class="no-data" *ngIf="!day.dip_GG_Giustificativi || day.dip_GG_Giustificativi.length === 0">
            Nessun giustificativo
          </div>
          <div class="justification-item" *ngFor="let just of day.dip_GG_Giustificativi"
               [style.background-color]="get_dip_GG_Giustificativi_backColor(just)"
               [style.color]="get_dip_GG_Giustificativi_txtColor(just)">
            <span>{{ just.idPar_Giustificativi | parGiustificativiToLongText}}</span>
            <ion-icon *ngIf="just.idDip_GG_Richiesta"
                      [name]="getStatusIcon(just.richiestaStato)"
                      class="status-icon"
                      [title]="getStatusText(just.richiestaStato)">
            </ion-icon>
          </div>
        </div>
      </div>
    </div>-->


  </div>
</ion-content>

