<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="false">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>



      <br />

      <ion-radio-group [(ngModel)]="selectedValue">
        <div *ngFor="let p of userCronology">
          <ion-radio labelPlacement="end" [value]="p.userData.id">
            {{p.userData.userName}} {{p.userDataAdditional.gotoBackPage}}
          </ion-radio>
          <br />
        </div>
      </ion-radio-group>

      <br />

    </ion-card-content>
  </ion-card>

</ion-content>

<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>
