# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

nvxapp.Server/bin
nvxapp.Server/obj/
nvxapp.Server/wwwroot/
nvxapp.Server/node_modules/



nvxapp.client/node_modules
nvxapp.client/.angular
nvxapp.client/obj/
nvxapp.client/dist/
nvxapp.client/www/
.vs/
