<app-page-toolbar [title]="title"
                  [showFilter]="true"
                  [showBreadcrumbs]="true"
                  (ev_Filter)="Filter($event)">
</app-page-toolbar>

<ion-content [fullscreen]="true">



  <ion-grid *ngIf="dip_GG_RichiestaList!=null">

    <ion-row *ngFor="let item of getAll() | genericFilter: 'descrizione' : searchText" class="nvx-ion-row-4table">

      <ion-item-sliding class="ion-hide-sm-up">

        <ion-item>

          <ion-item>
            <ion-label>

              <ion-text style="white-space:nowrap;">
                {{getItemText1(item)}}
              </ion-text>

              <ion-note color="medium" style="white-space:nowrap;">
                {{getItemText2(item)}}
              </ion-note>

            </ion-label>
          </ion-item>

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option *ngIf="showBtnDelete(item)" color="{{btnDelete.color}}" (click)="btnDelete.event(item)">
            <ion-icon slot="start" name="{{btnDelete.image}}"></ion-icon>
            {{btnDelete.text}}
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>




      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ item.data }}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ getDataA(item) }}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ item.richiestaTipo | tipoRichiestaToLongText }}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{getDati(item)}}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ item.richiestaStato | statoRichiestaLongText }}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-button size="small" *ngIf="showBtnDelete(item)" shape="round" (click)="btnDelete.event(item)" color="{{btnDelete.color}}">
          <ion-icon name="{{btnDelete.image}}"></ion-icon>
          &nbsp;{{btnDelete.text}}
        </ion-button>
      </ion-col>




    </ion-row>


  </ion-grid>





</ion-content>
