<div>
  <ion-modal class="nvx-modal" #httpErrModal [isOpen]="isModalOpen" (willDismiss)="onWillDismissErr($event)">
    <ng-template>

      <ion-header>
        <ion-toolbar color="primary">
          <ion-icon class="nvx-standard-icon" name="bug-outline" slot="start"></ion-icon>
          <ion-title>Si è verificato un errore</ion-title>

        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding" #chatContent *ngIf="nvxHttpInterceptorService.activeHttpErr.length > 0">



        <ion-card *ngFor="let messageErr of nvxHttpInterceptorService.activeHttpErr">
          <ion-card-header>
            <ion-card-title>
              <ion-icon [name]="getIcon(messageErr.messages[0]?.msgType)"></ion-icon>
              {{ getDescription(messageErr.messages[0]?.msgType) }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let msg of messageErr.messages">
                <ion-label>
                  <p>{{ msg.text }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>



      </ion-content>

      <ion-footer>
        <ion-toolbar color="light">
          <ion-buttons class="center-buttons">

            <ion-button *ngFor="let item of buttonbar" (click)="item.event({})" color="{{item.color}}" [disabled]="item.disabled" fill="solid">
              <ion-icon name="{{item.image}}"></ion-icon>
              &nbsp;{{item.text}}
            </ion-button>

          </ion-buttons>
        </ion-toolbar>
      </ion-footer>

    </ng-template>
  </ion-modal>
</div>
