<app-page-toolbar [title]="title"
                  [showFilter]="true"
                  [showBreadcrumbs]="true"
                  (ev_Filter)="Filter($event)">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <app-sedi-reparto-user-navigation></app-sedi-reparto-user-navigation>

  <ion-grid *ngIf="dip_GG_RichiestaList!=null">

    <ion-row *ngFor="let item of getAll() | genericFilter: 'descrizione' : searchText" class="nvx-ion-row-4table">

      <ion-item-sliding class="ion-hide-sm-up">
        <ion-item>

          <ion-item>
            <ion-label>
              <strong>{{ item.idDip_RapportoLavoro | idDipRapportoLavoroToCognome }} {{ item.idDip_RapportoLavoro | idDipRapportoLavoroToNome }}</strong>

              <ion-text style="white-space:nowrap;">
                {{getItemText1(item)}}
              </ion-text>

              <ion-note color="medium" style="white-space:nowrap;">
                {{getItemText2(item)}}
              </ion-note>

            </ion-label>
          </ion-item>

        </ion-item>

        <ion-item-options side="end">

          <ion-item-option *ngIf="showBtnApprova(item)" color="{{btnApprova.color}}" (click)="btnApprova.event(item)">
            <ion-icon slot="start" name="{{btnApprova.image}}"></ion-icon>
            {{btnApprova.text}}
          </ion-item-option>

          <ion-item-option *ngIf="showBtnRifiuta(item)" color="{{btnRifiuta.color}}" (click)="btnRifiuta.event(item)">
            <ion-icon slot="start" name="{{btnRifiuta.image}}"></ion-icon>
            {{btnRifiuta.text}}
          </ion-item-option>

        </ion-item-options>
      </ion-item-sliding>


      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ item.idDip_RapportoLavoro  | idDipRapportoLavoroToCognome}}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ item.idDip_RapportoLavoro | idDipRapportoLavoroToNome}}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ item.data }}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ getDataA(item) }}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ item.richiestaTipo | tipoRichiestaToLongText }}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{getDati(item)}}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
          {{ item.richiestaStato | statoRichiestaLongText }}
        </ion-label>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-button size="small" *ngIf="showBtnApprova(item)" shape="round" (click)="btnApprova.event(item)" color="{{btnApprova.color}}">
          <ion-icon name="{{btnApprova.image}}"></ion-icon>
          &nbsp;{{btnApprova.text}}
        </ion-button>
      </ion-col>

      <ion-col class="ion-hide-sm-down">
        <ion-button size="small" *ngIf="showBtnRifiuta(item)" shape="round" (click)="btnRifiuta.event(item)" color="{{btnRifiuta.color}}">
          <ion-icon name="{{btnRifiuta.image}}"></ion-icon>
          &nbsp;{{btnRifiuta.text}}
        </ion-button>
      </ion-col>


    </ion-row>


  </ion-grid>





</ion-content>
