<div class="ion-padding">
  <ion-row class="ion-align-items-end">
    <!-- Helps align baselines of selects and buttons -->
    <!-- Sedi Select -->
    <!--size="12" size-md="ColumnSize"-->

    <ion-col  size-xs="12" size-sm="2" *ngIf="!hideSediSelect">
      <ion-item>
        <ion-label position="stacked">Sede</ion-label>
        <ion-select [(ngModel)]="selectedSediId"
                    (ionChange)="onSediChange()"
                    placeholder="Seleziona una sede"
                    interface="popover">
          <ion-select-option [value]="sede.id" *ngFor="let sede of az_SediList">
            {{ sede.descrizione }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <!-- Reparto Select -->
    <ion-col size-xs="12" size-sm="5"  *ngIf="!hideRepartoSelect">
      <ion-item>
        <ion-label position="stacked">Reparto</ion-label>
        <ion-select [(ngModel)]="selectedRepartoId"
                    (ionChange)="onRepartoChange()"
                    placeholder="Seleziona uno o più reparti"
                    interface="modal"
                    [disabled]="(!hideSediSelect && !selectedSediId) || filteredReparti.length === 0"
                    multiple="true">
          <ion-select-option [value]="reparto.id" *ngFor="let reparto of filteredReparti">
            {{ reparto.descrizione }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <!-- User Select and Navigation -->
    <ion-col size-xs="12"  size-sm="5" *ngIf="!hideUserSelect">
      <div class="user-select-container">
        <ion-item class="user-select-item">
          <ion-label position="stacked">Utente</ion-label>
          <ion-select [(ngModel)]="selectedUserId"
                      (ionChange)="onUserChange()"
                      placeholder="Seleziona un utente"
                      interface="modal"
                      [disabled]="(!selectedRepartoId || selectedRepartoId.length === 0) || az_SediRepartoUserList.length === 0">
            <ion-select-option [value]="user.idAspNetUsers" *ngFor="let user of az_SediRepartoUserList">
              {{ user.idAspNetUsers | idAspNetUsersToCognome }} {{ user.idAspNetUsers | idAspNetUsersToNome }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="user-navigation-buttons" *ngIf="az_SediRepartoUserList.length > 1">
          <ion-button (click)="navigateToPreviousUser()" [disabled]="!canNavigatePrevious"  shape="round" color="primary" aria-label="Utente precedente">
            <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button (click)="navigateToNextUser()" [disabled]="!canNavigateNext"  shape="round" color="primary" aria-label="Utente successivo">
            <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-col>

  </ion-row>
</div>
