<app-page-toolbar [title]="Title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>

      <app-sedi-reparto-user-selection [showPeriodSelect]="true"
                                       [showSediSelect]="false"
                                       [showRepartoSelect]="true"
                                       [showUserSelect]="true"
                                       [singleSelectUser]="false"
                                       (periodChange)="onPeriodChange($event)"
                                       (sediIdChange)="onSedeChanged($event)"
                                       (repartoIdChange)="onRepartiChanged($event)"
                                       (allUsersIdChange)="onAllUsersInSelectionChanged($event)"
                                       (currUserIdChange)="onCurrentUserChanged($event)">
      </app-sedi-reparto-user-selection>

      <form [formGroup]="_editForm">

        <!--<ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Dal</ion-label>
              <ion-datetime-button class="datetime-button-with-label" datetime="vacation-dal-modal"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="vacation-dal-modal"
                                formControlName="dal"
                                presentation="date"
                                [firstDayOfWeek]="1"
                                [showDefaultButtons]="true"
                                doneText="OK"
                                cancelText="Annulla">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Al</ion-label>
              <ion-datetime-button class="datetime-button-with-label" datetime="vacation-al-modal"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="vacation-al-modal"
                                formControlName="al"
                                presentation="date"
                                [firstDayOfWeek]="1"
                                [showDefaultButtons]="true"
                                doneText="OK"
                                cancelText="Annulla">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
        </ion-row>-->

        <!--<ion-row class="ion-align-items-center">
          <ion-col>
            <br />
            <ion-button size="small" fill="outline" shape="round" (click)="btnTask.event(null)" color="{{btnTask.color}}" [disabled]="btnTask.disabled">
              <ion-icon name="{{btnTask.image}}"></ion-icon>
              &nbsp;{{btnTask.text}}
            </ion-button>
          </ion-col>
        </ion-row>-->

      </form>

    </ion-card-content>
  </ion-card>

</ion-content>
