<app-page-toolbar [title]="Title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>

      <app-sedi-reparto-user-selection [showPeriodSelect]="true"
                                       [showSediSelect]="false"
                                       [showRepartoSelect]="true"
                                       [showUserSelect]="true"
                                       [singleSelectUser]="false"
                                       (periodChange)="onPeriodChange($event)"
                                       (sediIdChange)="onSedeChanged($event)"
                                       (repartoIdChange)="onRepartiChanged($event)"
                                       (allUsersIdChange)="onAllUsersInSelectionChanged($event)"
                                       (currUserIdChange)="onCurrentUserChanged($event)">
      </app-sedi-reparto-user-selection>

      <form [formGroup]="_editForm"></form>

      <!-- GRIGLIA PIANO FERIE -->
      <div *ngIf="daySlots?.length > 0 && getDaysInMonth().length > 0" class="vg-wrapper">
        <div class="vg-scroll">

          <!-- INTESTAZIONE -->
          <div class="vg-row vg-header-row">
            <div class="vg-name-col vg-sticky vg-header-cell">Dipendente</div>
            <div *ngFor="let day of getDaysInMonth()"
                 class="vg-day-header"
                 [class.vg-weekend]="isWeekend(day)">
              <span class="vg-day-num">{{ day }}</span>
              <span class="vg-day-label">{{ getDayLabel(day) }}</span>
            </div>
          </div>

          <!-- RIGHE DIPENDENTI -->
          <div *ngFor="let slot of getAll(); let i = index"
               class="vg-row vg-data-row"
               [class.nvx-row-odd]="i % 2 !== 0"
               [class.nvx-row-even]="i % 2 === 0">

            <div class="vg-name-col vg-sticky" [class.nvx-row-odd]="i % 2 !== 0" [class.nvx-row-even]="i % 2 === 0">
              <ion-label>
                <strong>{{ slot.idAspNetUsers | idAspNetUsersToCognome }}</strong>
                {{ slot.idAspNetUsers | idAspNetUsersToNome }}
              </ion-label>
            </div>

            <div *ngFor="let day of getDaysInMonth()"
                 class="vg-day-cell"
                 [class.vg-weekend]="isWeekend(day)">
              <ng-container *ngIf="getGiustificativiForDay(slot, day) as giust">
                <ng-container *ngIf="giust.length > 0; else emptyDay">
                  <div class="vg-chips-stack">
                    <ion-chip *ngFor="let g of giust"
                              [ngStyle]="{
                                'background': timeSheetService.get_Dip_GG_Giustificativi_backColor(g),
                                'color':      timeSheetService.get_Dip_GG_Giustificativi_txtColor(g),
                                'font-size':  '0.75em',
                                'margin':     '1px 0px',
                                'height':     '18px',
                                'cursor': CanOpenMenuActionGiustificativi(slot,g) ? 'pointer' : 'default',
                                'opacity': CanOpenMenuActionGiustificativi(slot,g) ? '1' : '0.5'
                              }"
                              (click)="CanOpenMenuActionGiustificativi(slot,g) ? actionSheetOpen(g) : null"
                              [title]="g.idPar_Giustificativi | parGiustificativiToLongText">
                      {{ g.idPar_Giustificativi | parGiustificativiToShortText }}  {{ g.hours.substring(0, 5) }}
                    </ion-chip>
                  </div>
                </ng-container>
                <ng-template #emptyDay>
                  <span class="vg-empty">-</span>
                </ng-template>
              </ng-container>
            </div>

          </div>

        </div>
      </div>

      <ion-action-sheet [isOpen]="isActionSheetOpen"
                        [header]="actionSheetHeader"
                        [subHeader]="actionSheetSubHeader"
                        [buttons]="actionSheetButtons"
                        (didDismiss)="actionSheetExecute($event)"></ion-action-sheet>

    </ion-card-content>
  </ion-card>

</ion-content>
