<div class="nvx-hover-popup" [ngStyle]="style">
  @if (data.title) {
    <div class="nvx-hover-popup__title">{{ data.title }}</div>
  }
  <div class="nvx-hover-popup__content">{{ data.content }}</div>
  @if (data.extraInfo) {
    <table class="nvx-hover-popup__extra">
      @for (item of data.extraInfo | keyvalue; track item) {
        <tr>
          <td class="nvx-hover-popup__extra-key">{{ item.key }}</td>
          <td class="nvx-hover-popup__extra-value">{{ item.value }}</td>
        </tr>
      }
    </table>
  }
</div>
