<app-page-toolbar [title]="title"
                  [showFilter]="true"
                  [showBreadcrumbs]="true"
                  (ev_Filter)="Filter($event)">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>



      <ion-grid *ngIf="commessaList!=null">
        <ion-row *ngFor="let item of getAll() | genericFilter: 'descrizione' : searchText; let indexRow4Color = index"
                 [class.nvx-row-odd]="indexRow4Color % 2 !== 0"
                 [class.nvx-row-even]="indexRow4Color % 2 === 0"
                 class="nvx-ion-row-4table nvx-row-hover">

          <ion-item-sliding class="ion-hide-sm-up">

            <ion-item>
              <ion-grid>
                <ion-row class="ion-align-items-center">

                  <!-- Icona -->
                  <ion-col size="1">
                    <ion-icon [name]="isAdmin(item) ? 'server-outline' : 'server-outline'"
                              [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
                    </ion-icon>
                  </ion-col>

                  <!-- Descrizione -->
                  <ion-col size="11">
                    <div class="descrizione">{{ item.descrizione }}</div>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item-options side="end">

              <ion-item-option *ngIf="!item.default"
                               [color]="btnDelete.color"
                               (click)="btnDelete.event(item)">
                <ion-icon slot="start" [name]="btnDelete.image"></ion-icon>
                {{ btnDelete.text }}
              </ion-item-option>

              <ion-item-option [color]="btnEdit.color"
                               (click)="btnEdit.event(item)">
                <ion-icon slot="start" [name]="btnEdit.image"></ion-icon>
                {{ btnEdit.text }}
              </ion-item-option>

            </ion-item-options>

          </ion-item-sliding>


          <ion-col size="8" class="ion-hide-sm-down">
            <ion-icon [name]="isAdmin(item) ? 'server-outline' : 'server-outline'"></ion-icon>
            <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
              {{ item.descrizione }}
            </ion-label>
          </ion-col>
          <ion-col size="2" class="ion-hide-sm-down">
            <ion-button *ngIf="!item.default" size="small" fill="outline" shape="round" (click)="btnDelete.event(item)" color="{{btnDelete.color}}">
              <ion-icon name="{{btnDelete.image}}"></ion-icon>
              &nbsp;{{btnDelete.text}}
            </ion-button>
          </ion-col>
          <ion-col size="2" class="ion-hide-sm-down">
            <ion-button size="small" fill="outline" shape="round" (click)="btnEdit.event(item)" color="{{btnEdit.color}}">
              <ion-icon name="{{btnEdit.image}}"></ion-icon>
              &nbsp;{{btnEdit.text}}
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>
