// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
  --ion-color-primary: #87a9ff /*#ffa500*/;
  --ion-color-secondary: #ffa500;
  /*--ion-color-tertiary: #5260ff;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;*/
}


.dark-theme {
  --ion-color-primary: #87a9ff /*#ffa500*/;
  --ion-color-secondary: #ffa500;
  /*--ion-color-tertiary: #5260ff;
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;*/
}
