<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <app-sedi-reparto-user-navigation [showPeriodSelect]="true"
                                    [showSediSelect]="false"
                                    [showRepartoSelect]="true"
                                    [showUserSelect]="true"
                                    (periodChange)="onPeriodChange($event)"
                                    (sediIdChange)="onSedeChanged($event)"
                                    (repartoIdChange)="onRepartiChanged($event)"
                                    (allUsersIdChange)="onAllUsersInSelectionChanged($event)"
                                    (currUserIdChange)="onCurrentUserChanged($event)">

  </app-sedi-reparto-user-navigation>

  <div id="container">
    <strong class="capitalize">{{ title }}</strong>
    <p>{{title}}Component works...</p>

    {{ currentMonth | json}}

  </div>



    <!--<app-fab-menu></app-fab-menu>-->

</ion-content>
