<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>

      <br />
      <ion-item class="nvx-item-4-title">
        <ion-label>Info </ion-label>
      </ion-item>

      <div id="container">
        <strong class="capitalize">{{ title }}</strong>
        <p>{{title}}Component works...</p>

      </div>

      <br />

      <ion-button size="small" fill="outline" shape="round" (click)="btnTask.event(null)" color="{{btnTask.color}}">
        <ion-icon name="{{btnTask.image}}"></ion-icon>
        &nbsp;{{btnTask.text}}
      </ion-button>

      <ion-button size="small" fill="outline" shape="round" (click)="btnExport.event(null)" color="{{btnExport.color}}">
        <ion-icon name="{{btnExport.image}}"></ion-icon>
        &nbsp;Export
      </ion-button>

    </ion-card-content>
  </ion-card>

  <!--<app-fab-menu></app-fab-menu>-->

</ion-content>
