<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">




  <div class="calendar-container">

    <div class="month-header">
      <h2>{{ currentMonthDisplay }}</h2>
      <div class="month-navigation">
        <ion-button fill="clear" (click)="previousMonth()">
          <ion-icon name="chevron-back-outline"></ion-icon> MAR
        </ion-button>
        <ion-button fill="clear" (click)="nextMonth()">
          MAG <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="calendar-grid">
      <!-- Intestazione giorni della settimana -->
      <div class="weekday-header">
        <div class="weekday" *ngFor="let day of weekDays; let i = index"
             [ngClass]="{'weekend': i > 4}">
          {{ day }}
        </div>
      </div>

      <!-- Griglia del calendario -->
      <div class="calendar-weeks">
        <div class="week" *ngFor="let week of weeks">
          <div class="day" *ngFor="let day of week; let i = index"
               [ngClass]="{'non-current-month': !day.isCurrentMonth,'weekend': i > 4,'has-records': day.records.length > 0}">
            <div class="day-number">{{ day.day }}</div>

            <ng-container *ngIf="day.records.length > 0">
              <div class="timestamps">
                <!-- Timestamps di entrata ordinati -->
                <!--<div class="timestamp entry" *ngFor="let entry of getTimestampsByType(day.records, 'E')">
                  E {{ entry.time }}
                </div>-->
                <!-- Timestamps di uscita ordinati -->
                <!--<div class="timestamp exit" *ngFor="let exit of getTimestampsByType(day.records, 'U')">
                  U {{ exit.time }}
                </div>-->
                <div class="timestamp" *ngFor="let record of getOrderedTimestamps(day)"
                     [ngClass]="{'entry': record.type === 'E', 'exit': record.type === 'U'}">
                  {{ record.type }} {{ record.time }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  

</ion-content>

