<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">
  <div class="calendar-container">
    <app-sedi-reparto-user-navigation [showPeriodSelect]="true"
                                      [showSediSelect]="false"
                                      [showRepartoSelect]="false"
                                      [showUserSelect]="false"
                                      (periodChange)="onPeriodChange($event)"
                                      (sediIdChange)="onSedeChanged($event)"
                                      (repartoIdChange)="onRepartiChanged($event)"
                                      (allUsersIdChange)="onAllUsersInSelectionChanged($event)"
                                      (currUserIdChange)="onCurrentUserChanged($event)">
    </app-sedi-reparto-user-navigation>

    <div class="calendar-grid">
      <!-- Intestazione giorni della settimana -->
      <div class="weekday-header">
        <div class="weekday" *ngFor="let day of monthNavigatorService.weekDays; let i = index"
             [ngClass]="{'weekend': i > 4}">
          {{ day }}
        </div>
      </div>

      <!-- Griglia del calendario -->
      <div class="calendar-weeks">
        <div class="week" *ngFor="let week of weeks">

          <div class="day" *ngFor="let day of week; let i = index" [ngClass]="getDayClass(day, i)">

            <div class="day-number">{{ day.day }}</div>

            <div class="day-content">

              <ng-container *ngIf="day.dip_GG_Giustificativi && day.dip_GG_Giustificativi.length > 0">
                <div class="justifications">


                  <ng-container *ngIf="day.dip_GG_Giustificativi?.length > 0; else noJust">


                    <ion-button [disabled]="false" size="small" shape="round"
                                *ngFor="let just of day.dip_GG_Giustificativi"
                                [ngStyle]="{
                                              '--background': timeSheetService.get_Dip_GG_Giustificativi_backColor(just),
                                              '--color': timeSheetService.get_Dip_GG_Giustificativi_txtColor(just)
                                            }">
                      {{ just.idPar_Giustificativi | parGiustificativiToLongText }}
                      <ion-icon slot="end" [name]="timeSheetService.get_StatoRichiesta_icon(just.richiestaStato)"></ion-icon>
                    </ion-button>

                  </ng-container>
                  <ng-template #noJust>
                    <span class="no-data">-</span>
                  </ng-template>


                </div>
              </ng-container>


              <ng-container *ngIf="day.dip_GG_Timbratura && day.dip_GG_Timbratura.length > 0">
                <div class="timestamps">

                  <ng-container *ngIf="day.dip_GG_Timbratura?.length > 0; else noTimb">

                    <ion-button [disabled]="false" size="small" shape="round"
                                *ngFor="let record of day.dip_GG_Timbratura"
                                [ngStyle]="{
                                             '--background': timeSheetService.get_Dip_GG_Timbratura_backColor(record),
                                             '--color': timeSheetService.get_Dip_GG_Timbratura_txtColor(record)
                                           }">
                      {{ record.timbraturaTipo | tipoTimbraturaToShortText }} {{ record.timbratura | date:'HH:mm' }}
                      <ion-icon slot="end" [name]="timeSheetService.get_StatoRichiesta_icon(record.richiestaStato)"></ion-icon>
                    </ion-button>


                  </ng-container>
                  <ng-template #noTimb>
                    <span class="no-data">-</span>
                  </ng-template>



                </div>
              </ng-container>

            </div> <!-- Fine day-content -->

          </div> <!-- Fine day -->
        </div> <!-- Fine week -->
      </div> <!-- Fine calendar-weeks -->

    </div> <!-- Fine calendar-grid -->





  </div> <!-- Fine calendar-container -->

</ion-content>
