<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <div class="calendar-container">


    <!-- Struttura Navigazione Mese -->
    <div class="month-header">

      <!-- Pulsante Mese Precedente -->
      <ion-button fill="clear" (click)="previousMonth()" class="nav-button prev">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        <!-- Optional: Nome mese precedente -->
        <!-- {{ monthNames[(currentMonthIndex + 11) % 12].substring(0, 3) }} -->
      </ion-button>

      <!-- Nome Mese e Anno -->
      <h2>{{ currentMonthDisplay }}</h2>

      <!-- Pulsante Mese Successivo -->
      <ion-button fill="clear" (click)="nextMonth()" class="nav-button next">
        <!-- Optional: Nome mese successivo -->
        <!-- {{ monthNames[(currentMonthIndex + 1) % 12].substring(0, 3) }} -->
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>

    </div>

    <div class="calendar-grid">
      <!-- Intestazione giorni della settimana -->
      <div class="weekday-header">
        <div class="weekday" *ngFor="let day of monthNavigatorService.weekDays; let i = index"
             [ngClass]="{'weekend': i > 4}">
          {{ day }}
        </div>
      </div>

      <!-- Griglia del calendario -->
      <div class="calendar-weeks">
        <div class="week" *ngFor="let week of weeks">

          <div class="day" *ngFor="let day of week; let i = index" [ngClass]="getDayClass(day, i)">

            <div class="day-number">{{ day.day }}</div>

            <!-- NUOVO: Contenitore per contenuto del giorno -->
            <div class="day-content">

              <!-- NUOVO: Sezione Visualizzazione Giustificativi -->
              <!--<ng-container *ngIf="day.dip_GG_Giustificativi && day.dip_GG_Giustificativi.length > 0">
    <div class="justifications">
      <div class="justification" *ngFor="let just of day.dip_GG_Giustificativi" [ngClass]="getJustificationClass(just)">
        {{ just.idPar_Giustificativi | parGiustificativiToLongText}}
      </div>
    </div>
  </ng-container>-->
              <ng-container *ngIf="day.dip_GG_Giustificativi && day.dip_GG_Giustificativi.length > 0">
                <div class="justifications">
                  <div class="justification" *ngFor="let just of day.dip_GG_Giustificativi" [ngClass]="getJustificationClass(just)">
                    <span>{{ just.idPar_Giustificativi | parGiustificativiToLongText}}</span>
                    <!-- Status icon with tooltip -->
                    <ion-icon *ngIf="just.idDip_Richiesta"
                              [name]="getStatusIcon(just.richiestaStato)"
                              class="status-icon"
                              [title]="getStatusText(just.richiestaStato)"></ion-icon>
                  </div>
                </div>
              </ng-container>

              <!-- Sezione Visualizzazione Timbrature -->
              <!--<ng-container *ngIf="day.dip_GG_Timbratura && day.dip_GG_Timbratura.length > 0">
    <div class="timestamps">
      <div class="timestamp" *ngFor="let record of day.dip_GG_Timbratura" [ngClass]="getTimestampClass(record)">
        {{ record.timbraturaTipo | tipoTimbraturaToShortText }} {{ record.timbratura | date:'HH:mm' }}
      </div>
    </div>
  </ng-container>-->
              <ng-container *ngIf="day.dip_GG_Timbratura && day.dip_GG_Timbratura.length > 0">
                <div class="timestamps">
                  <div class="timestamp" *ngFor="let record of day.dip_GG_Timbratura" [ngClass]="getTimestampClass(record)">
                    <span>{{ record.timbraturaTipo | tipoTimbraturaToShortText }} {{ record.timbratura | date:'HH:mm' }}</span>
                    <!-- Status icon with tooltip -->
                    <ion-icon *ngIf="record.idDip_Richiesta"
                              [name]="getStatusIcon(record.richiestaStato)"
                              class="status-icon"
                              [title]="getStatusText(record.richiestaStato)"></ion-icon>
                  </div>
                </div>
              </ng-container>

            </div> <!-- Fine day-content -->

          </div> <!-- Fine day -->
        </div> <!-- Fine week -->
      </div> <!-- Fine calendar-weeks -->

    </div> <!-- Fine calendar-grid -->


  </div> <!-- Fine calendar-container -->

</ion-content>
