/* request-clocking-user-page.component.scss */
ion-menu-button {
  color: var(--ion-color-primary);
}

.dark-background {
  --background: #121212;
  --color: white;
}

.form-section {
  margin: 20px;

  .form-label {
    color: #a0a0a0;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .form-input {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;

    ion-select, ion-datetime, ion-textarea {
      --background: #333;
      --color: white;
      --placeholder-color: #888;
      border-radius: 5px;
      font-size: 16px;
      padding: 10px;
      width: 100%;
    }

    &.supervisors {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;
      border-bottom: none;

      .chips-container {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.chip {
  display: flex;
  align-items: center;
  background-color: #555;
  border-radius: 20px;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;

  ion-icon {
    margin-left: 8px;
    color: #ff4545;
    cursor: pointer;
    font-size: 18px;
  }
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;

  ion-icon {
    font-size: 24px;
  }
}

.submit-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #444444;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;

  ion-icon {
    margin-right: 10px;
    font-size: 22px;
  }
}
