<!-- request-clocking-user-page.component.html -->
<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>


<ion-content [fullscreen]="true">

  <div class="form-section">
    <div class="form-label">Tipo richiesta</div>
    <div class="form-input">
      <!-- ion-select should inherit styling or use Ionic variables -->
      <ion-select [(ngModel)]="requestType" interface="action-sheet" placeholder="Seleziona">
        <ion-select-option value="ENTRATA">ENTRATA</ion-select-option>
        <ion-select-option value="USCITA">USCITA</ion-select-option>
      </ion-select>
    </div>
  </div>

  <div class="form-section">
    <div class="form-label">Data e ora</div>
    <div class="form-input">
      <!-- ion-datetime-button styling is usually handled by Ionic -->
      <ion-datetime-button datetime="datetime-modal"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <!-- ion-datetime styling within the modal is handled by Ionic -->
          <ion-datetime id="datetime-modal"
                        [(ngModel)]="dateTime"
                        presentation="date-time"
                        [showDefaultButtons]="true"
                        doneText="OK"
                        cancelText="Annulla"
                        (ionChange)="updateDateTime($event)">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </div>
  </div>

  <div class="form-section">
    <div class="form-label">Responsabili</div>
    <div class="form-input supervisors">
      <!-- Keep class for layout -->
      <div class="chips-container">
        <div class="chip" *ngFor="let supervisor of supervisors; let i = index">
          <span>{{ supervisor }}</span>
          <!-- Keep icon for functionality -->
          <ion-icon name="trash" (click)="removeSupervisor(i)"></ion-icon>
        </div>
      </div>
      <button class="add-button" (click)="addSupervisor()">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </div>

  <div class="form-section">
    <div class="form-label">Note</div>
    <div class="form-input">
      <!-- ion-textarea should inherit styling or use Ionic variables -->
      <ion-textarea [(ngModel)]="notes" placeholder="Inserisci note..." rows="4"></ion-textarea> <!-- Added rows for better default size -->
    </div>
  </div>

  <div class="submit-button-container">
    <button class="submit-button" (click)="submitRequest()">
      <ion-icon name="save"></ion-icon>
      <span>Invia</span>
    </button>
  </div>
</ion-content>
