<app-page-toolbar [title]="Title"
                  [showFilter]="ShowFilter"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content *ngIf="_editModel!=null">

      <!-- MENU DEI SEGMENTI -->
      <!-- Nota: Rimosso [attr.content-id] dai bottoni -->
      <ion-segment [value]="currSection_segment_main" (ionChange)="segment_main_segmentChanged($event)">

        <!-- BUTTON Anagrafica -->
        <ion-segment-button value="{{SEGMENT_MAIN_ANAGRAFICA}}">
          <ion-label>Anagrafica</ion-label>
        </ion-segment-button>

        <!-- BUTTON Varie -->
        <ion-segment-button value="{{SEGMENT_MAIN_VARIE}}">
          <ion-label>Varie</ion-label>
        </ion-segment-button>

        <!-- BUTTON Rapporto lavoro (Dinamico) -->
        <ng-container *ngIf="_editModel !=null && _editModel.dip_RapportoLavoro!=null">
          @for (item_main of _editModel.dip_RapportoLavoro; track item_main.id; let idxRapp = $index) {
          <ion-segment-button value="{{SEGMENT_MAIN_RAPP_LAV}}{{item_main.id}}">
            <ion-label>Rapporto Lavoro (ID {{ item_main.id }})</ion-label>
          </ion-segment-button>
          }
        </ng-container>

      </ion-segment>

      <!-- CONTENUTO DEL FORM -->
      <form [formGroup]="_editForm">

        <!-- CONTENUTO: Anagrafica -->
        <!-- Visibile solo se il segmento corrente è ANAGRAFICA -->
        <div *ngIf="currSection_segment_main === SEGMENT_MAIN_ANAGRAFICA">
          <br />
          <ion-item class="nvx-item-4-title">
            <ion-label>Info </ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating">UserName</ion-label>
            <ion-input type="text" formControlName="descrizione" [readonly]="_editModel!=null && _editModel.idUserCompany > 0"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="_editForm.get('descrizione')?.hasError('required') && _editForm.get('descrizione')?.touched">
            UserName è obbligatorio.
          </ion-note>
          <ion-note color="danger" *ngIf="_editForm.get('descrizione')?.hasError('maxlength') && _editForm.get('descrizione')?.touched">
            UserName non può superare i 20 caratteri.
          </ion-note>
          <ion-note color="warning" *ngIf="modifiedDescription">
            {{ modifiedDescription }}
          </ion-note>

          <ng-container *ngIf="_editModel!=null && _editModel.idUserCompany == 0">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="mail"></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="_editForm.get('mail')?.hasError('required') && _editForm.get('mail')?.touched">
              L'email è obbligatoria.
            </ion-note>
            <ion-note color="danger" *ngIf="_editForm.get('mail')?.hasError('email') && _editForm.get('mail')?.touched">
              Inserisci un'email valida.
            </ion-note>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="pw"></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="_editForm.get('pw')?.hasError('required') && _editForm.get('pw')?.touched">
              La password è obbligatoria.
            </ion-note>
            <ion-item>
              <ion-label position="floating">Conferma Password</ion-label>
              <ion-input type="password" formControlName="confirmPassword"></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="_editForm.get('confirmPassword')?.hasError('required') && _editForm.get('confirmPassword')?.touched">
              La conferma della password è obbligatoria.
            </ion-note>
            <ion-note color="danger" *ngIf="_editForm.hasError('notMatching') && _editForm.get('confirmPassword')?.touched">
              Le password non corrispondono.
            </ion-note>
          </ng-container>

          <ion-item>
            <ion-label position="floating">Ruolo</ion-label>
            <ion-select formControlName="roles" aria-label="Ruoli" [multiple]="true">
              <ion-select-option value="{{item_role}}" *ngFor="let item_role of getRoles()">{{ item_role }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-note color="danger" *ngIf="_editForm.get('roles')?.hasError('minArrayLength') && _editForm.get('roles')?.touched">
            Il ruolo è obbligatorio.
          </ion-note>

          <ion-item>
            <ion-label position="floating">Cognome</ion-label>
            <ion-input type="text" formControlName="cognome"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="_editForm.get('cognome')?.hasError('required') && _editForm.get('cognome')?.touched">
            cognome è obbligatorio.
          </ion-note>
          <ion-note color="danger" *ngIf="_editForm.get('cognome')?.hasError('maxlength') && _editForm.get('cognome')?.touched">
            cognome non può superare i 20 caratteri.
          </ion-note>

          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="_editForm.get('nome')?.hasError('required') && _editForm.get('nome')?.touched">
            nome è obbligatorio.
          </ion-note>
          <ion-note color="danger" *ngIf="_editForm.get('nome')?.hasError('maxlength') && _editForm.get('nome')?.touched">
            nome non può superare i 20 caratteri.
          </ion-note>

          <br />
        </div>

        <!-- CONTENUTO: Varie -->
        <div *ngIf="currSection_segment_main === SEGMENT_MAIN_VARIE">
          <!-- Contenuto Varie vuoto come nell'originale -->
        </div>

        <!-- CONTENUTO: Rapporto lavoro (Dinamico) -->
        <ng-container *ngIf="_editModel !=null && _editModel.dip_RapportoLavoro!=null">
          @for (item_main of _editModel.dip_RapportoLavoro; track item_main.id; let idxRapp = $index) {


          <div *ngIf="currSection_segment_main === (SEGMENT_MAIN_RAPP_LAV + item_main.id)">


            <ion-segment [value]="currSection_segment_dip_rapp[item_main.id]" (ionChange)="segment_dip_rapp_segmentChanged($event, item_main.id)">

              <ion-segment-button value="{{SEGMENT_MAIN_RAPP_LAV}}{{item_main.id}}_{{SEGMENT_DIPRAPP_PROF_HH}}">
                <ion-label>Profili orari</ion-label>
              </ion-segment-button>


              <ion-segment-button value="{{SEGMENT_MAIN_RAPP_LAV}}{{item_main.id}}_{{SEGMENT_DIPRAPP_VARIE}}">
                <ion-label>Varie</ion-label>
              </ion-segment-button>

            </ion-segment>

            <!-- CONTENUTO: Rapporto lavoro Profilo orario -->
            <div *ngIf="currSection_segment_dip_rapp[item_main.id] === (SEGMENT_MAIN_RAPP_LAV + item_main.id + '_' + SEGMENT_DIPRAPP_PROF_HH)">

              <br />
              <ion-item class="nvx-item-4-title">
                <ion-label>Profili orari </ion-label>
              </ion-item>

              <ion-grid >
                <ion-row *ngFor="let item of getAll_Dip_ProfiloOrario() | genericFilter: 'descrizione' : searchText;let indexRow4Color = index" class="nvx-ion-row-4table" >


                  <ion-item-sliding class="ion-hide-sm-up"
                                    [class.nvx-row-odd]="indexRow4Color % 2 !== 0"
                                    [class.nvx-row-even]="indexRow4Color % 2 === 0">
                    <ion-item>
                      <ion-icon [name]="isAdmin(item) ? 'server-outline' : 'server-outline'"></ion-icon>
                      <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
                        {{ item.idPar_ProfiloOrario  | parProfiloOrarioToLongTextPipe}} (ID {{ item.id}})
                      </ion-label>
                    </ion-item>

                    <!--<ion-item-options side="end">
                      <ion-item-option color="{{btnDelete_Dip_ProfiloOrario.color}}" (click)="btnDelete_Dip_ProfiloOrario.event(item)">
                        <ion-icon slot="start" name="{{btnDelete_Dip_ProfiloOrario.image}}"></ion-icon>
                        {{btnDelete_Dip_ProfiloOrario.text}}
                      </ion-item-option>
                      <ion-item-option color="{{btnEdit_Dip_ProfiloOrario.color}}" (click)="btnEdit_Dip_ProfiloOrario.event(item)">
                        <ion-icon slot="start" name="{{btnEdit_Dip_ProfiloOrario.image}}"></ion-icon>
                        {{ btnEdit_Dip_ProfiloOrario.text }}
                      </ion-item-option>
                    </ion-item-options>-->

                    <app-slide-button-cancella-modifica [item]="item"
                                                        [btnDelete]="btnDelete_Dip_ProfiloOrario"
                                                        [showDelete]="true"
                                                        [btnEdit]="btnEdit_Dip_ProfiloOrario"
                                                        [showEdit]="true">
                    </app-slide-button-cancella-modifica>

                  </ion-item-sliding>


                  <ion-col size="4" class="ion-hide-sm-down">
                    <ion-icon [name]="isAdmin(item) ? 'server-outline' : 'server-outline'"></ion-icon>
                    <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
                      {{ item.idPar_ProfiloOrario  | parProfiloOrarioToLongTextPipe}} (ID {{ item.id}})
                    </ion-label>
                  </ion-col>

                  <ion-col size="2" class="ion-hide-sm-down">
                    <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
                      {{ item.dal  | date:'dd/MM/yyyy' }}
                    </ion-label>
                  </ion-col>
                  <ion-col size="2" class="ion-hide-sm-down">
                    <ion-label [ngStyle]="{ color: isAdmin(item) ? 'var(--ion-color-primary)' : '' }">
                      {{ item.al  | date:'dd/MM/yyyy' }}
                    </ion-label>
                  </ion-col>


                  <ion-col size="2" class="ion-hide-sm-down">
                    <ion-button *ngIf="!item.default" size="small" fill="outline" shape="round" (click)="btnDelete_Dip_ProfiloOrario.event(item)" color="{{btnDelete_Dip_ProfiloOrario.color}}">
                      <ion-icon name="{{btnDelete_Dip_ProfiloOrario.image}}"></ion-icon>
                      &nbsp;{{btnDelete_Dip_ProfiloOrario.text}}
                    </ion-button>
                  </ion-col>
                  <ion-col size="2" class="ion-hide-sm-down">
                    <ion-button size="small" fill="outline" shape="round" (click)="btnEdit_Dip_ProfiloOrario.event(item)" color="{{btnEdit_Dip_ProfiloOrario.color}}">
                      <ion-icon name="{{btnEdit_Dip_ProfiloOrario.image}}"></ion-icon>
                      &nbsp;{{btnEdit_Dip_ProfiloOrario.text}}
                    </ion-button>
                  </ion-col>






                </ion-row>
              </ion-grid>

            </div>
            <!-- CONTENUTO: Rapporto lavoro Varie -->
            <div *ngIf="currSection_segment_dip_rapp[item_main.id] === (SEGMENT_MAIN_RAPP_LAV + item_main.id + '_' + SEGMENT_DIPRAPP_VARIE)">
              <br />
              <ion-item class="nvx-item-4-title">
                <ion-label>contenuto varie </ion-label>
              </ion-item>
            </div>



          </div>

          }
        </ng-container>

      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>
