<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="false">
</app-page-toolbar>

<ion-content [fullscreen]="true">


  <form [formGroup]="logoutForm" (ngSubmit)="logout()">

    <!--<ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>-->

    <ion-button expand="full" type="submit" [disabled]="!logoutForm.valid">LogOut</ion-button>
  </form>

</ion-content>
