<app-page-toolbar [title]="Title"
  [showFilter]="ShowFilter"
  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>



      <br />
      <ion-item class="nvx-item-4-title">
        <ion-label>Info </ion-label>
      </ion-item>


      <form [formGroup]="_editForm">

        <ion-item>
          <ion-label position="floating">Descrizione</ion-label>
          <ion-input type="text" formControlName="descrizione"></ion-input>
        </ion-item>
        @if (_editForm.get('descrizione')?.hasError('required') && _editForm.get('descrizione')?.touched) {
          <ion-note color="danger">
            Descrizione è obbligatorio.
          </ion-note>
        }
        @if (_editForm.get('descrizione')?.hasError('maxlength') && _editForm.get('descrizione')?.touched) {
          <ion-note color="danger">
            Descrizione non può superare i 20 caratteri.
          </ion-note>
        }


        <ion-item>
          <ion-label position="floating">Codice</ion-label>
          <ion-input type="text" formControlName="codice"></ion-input>
        </ion-item>
        @if (_editForm.get('codice')?.hasError('required') && _editForm.get('codice')?.touched) {
          <ion-note color="danger">
            codice è obbligatorio.
          </ion-note>
        }
        @if (_editForm.get('codice')?.hasError('maxlength') && _editForm.get('codice')?.touched) {
          <ion-note color="danger">
            codice non può superare i 5 caratteri.
          </ion-note>
        }

        <ion-item>
          <ion-label>Colore sfondo</ion-label>
          <input type="color" formControlName="backgroundColor">
        </ion-item>
        <ion-item>
          <ion-label>Colore testto</ion-label>
          <input type="color" formControlName="textColor">
        </ion-item>


        <ion-item>
          <ion-label position="floating">Segno</ion-label>
          <ion-select formControlName="segno" interface="popover">
            <ion-select-option [value]="signWithNeutral.Down">-</ion-select-option>
            <ion-select-option [value]="signWithNeutral.Neutral">Non agisce</ion-select-option>
            <ion-select-option [value]="signWithNeutral.Up">+</ion-select-option>
          </ion-select>
        </ion-item>
        @if (_editForm.get('segno')?.hasError('required') && _editForm.get('segno')?.touched) {
          <ion-note color="danger">
            Il tipo segno è obbligatorio.
          </ion-note>
        }

        <ion-item>
          <ion-label position="floating">Causale </ion-label>
          <ion-select formControlName="idCausale" placeholder="Seleziona la causale">
            @for (causali of par_CausaliModelList; track causali) {
              <ion-select-option [value]="causali.id">
                {{ causali.descrizione }}
              </ion-select-option>
            }
          </ion-select>
        </ion-item>
        @if (_editForm.get('idCausale')?.hasError('required') && _editForm.get('idCausale')?.touched) {
          <ion-note color="danger">
            La causale è obbligatoria.
          </ion-note>
        }

        <ion-item>
          <ion-label>Visualizza nel piano ferie</ion-label>
          <ion-toggle formControlName="visualizzaInPianoFerie" slot="end"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tipo contatore</ion-label>
          <ion-select formControlName="tipoContatore" interface="popover">
            <ion-select-option [value]="tipoContatore.NoContatore">Nessun contatore</ion-select-option>
            <ion-select-option [value]="tipoContatore.Contatore">Contatore</ion-select-option>
            <ion-select-option [value]="tipoContatore.ContatoreConAvviso">Contatore con avviso</ion-select-option>
            <ion-select-option [value]="tipoContatore.ContatoreConBlocco">Contatore con blocco</ion-select-option>
          </ion-select>
        </ion-item>
        @if (_editForm.get('tipoContatore')?.hasError('required') && _editForm.get('tipoContatore')?.touched) {
          <ion-note color="danger">
            Il tipo contatore è obbligatorio.
          </ion-note>
        }


      </form>

      <br />


    </ion-card-content>
  </ion-card>

</ion-content>

<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>

