
<ion-header [translucent]="true">
  <ion-toolbar [color]="headerColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="showFilter || (showBreadcrumbs && userNavigationService.userCronology.length>1)">



    <app-breadcrumbs-impersonate *ngIf="showBreadcrumbs" class="ion-hide-sm-down">

    </app-breadcrumbs-impersonate>

    <!-- Active Jobs List -->
    <div class="active-jobs-container ion-padding-start ion-padding-end" *ngIf="(activeJobs$ | async) as jobs">
      <ion-list *ngIf="jobs.length > 0" class="ion-no-padding">
        <ion-item *ngFor="let job of jobs" lines="none" class="job-item">
          <ion-icon name="hourglass-outline" slot="start" class="ion-margin-end"></ion-icon>
          <ion-label>
            <p class="job-message">{{ job.message?.text }}</p>
            <ion-progress-bar [value]="job.progressPercentage / 100"></ion-progress-bar>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <!-- End of Active Jobs List -->


    <ion-searchbar *ngIf="showFilter"
                   (ionInput)="filter($event)"
                   placeholder="Search">
    </ion-searchbar>

  </ion-toolbar>

</ion-header>
