<app-page-toolbar [title]="Title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>



      <app-sedi-reparto-user-selection [showPeriodSelect]="true"
                                       [showSediSelect]="false"
                                       [showRepartoSelect]="true"
                                       [showUserSelect]="true"
                                       [singleSelectUser]="false"
                                       (periodChange)="onPeriodChange($event)"
                                       (sediIdChange)="onSedeChanged($event)"
                                       (repartoIdChange)="onRepartiChanged($event)"
                                       (allUsersIdChange)="onAllUsersInSelectionChanged($event)"
                                       (currUserIdChange)="onCurrentUserChanged($event)">
      </app-sedi-reparto-user-selection>


      <form [formGroup]="_editForm">


        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Dal</ion-label>
              <ion-datetime-button class="datetime-button-with-label" datetime="dalle-limite-sx-modal"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="dalle-limite-sx-modal"
                                formControlName="dal"
                                presentation="date"
                                [firstDayOfWeek]="1"
                                [showDefaultButtons]="true"
                                doneText="OK"
                                cancelText="Annulla">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Al</ion-label>
              <ion-datetime-button class="datetime-button-with-label" datetime="alle-limite-sx-modal"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="alle-limite-sx-modal"
                                formControlName="al"
                                presentation="date"
                                [firstDayOfWeek]="1"
                                [showDefaultButtons]="true"
                                doneText="OK"
                                cancelText="Annulla">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
        </ion-row>



        <ion-row class="ion-align-items-center">
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Tipo export</ion-label>
              <ion-select formControlName="idPar_ExportCau" placeholder="Seleziona il modello">
                <ion-select-option *ngFor="let par_Export of par_ExportCauList" [value]="par_Export.id">
                  {{ par_Export.descrizione }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-note color="danger" *ngIf="_editForm.get('idPar_ExportCau')?.hasError('required') && _editForm.get('idPar_ExportCau')?.touched">
              Il modello è obbligatorio
            </ion-note>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <br />
            <ion-button size="small" fill="outline" shape="round" (click)="btnTask.event(null)" color="{{btnTask.color}}" [disabled]="btnTask.disabled">
              <ion-icon name="{{btnTask.image}}"></ion-icon>
              &nbsp;{{btnTask.text}}
            </ion-button>
          </ion-col>
        </ion-row>


      </form>


    </ion-card-content>
  </ion-card>

</ion-content>
