<app-page-toolbar [title]="Title"
                  [showFilter]="ShowFilter"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">
  <form [formGroup]="_editForm">
    <ion-item>
      <ion-label position="floating">Descrizione</ion-label>
      <ion-input formControlName="descrizione"></ion-input>
    </ion-item>
    <ion-note *ngIf="_editForm.get('descrizione')?.invalid && _editForm.get('descrizione')?.touched">
      <ion-text color="danger">La descrizione è obbligatoria (max 50 caratteri).</ion-text>
    </ion-note>

    <ion-item>
      <ion-label>Colore sfondo</ion-label>
      <input type="color" formControlName="backgroundColor">
    </ion-item>
    <ion-item>
      <ion-label>Colore testto</ion-label>
      <input type="color" formControlName="textColor">
    </ion-item>

  </form>
  <br />
</ion-content>
<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>
