.user-message {
  background-color: var(--ion-toolbar-background);
  text-align: left;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.assistant-message {
  //background-color: #ffecb3; /* Giallo chiaro */
  text-align: right;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}




  @media (min-width: 577px) {
    ion-modal {
      --height: 90vh; /* Altezza del 90% della visuale verticale */
      --width: 70%;
    }
  }

