<div>

  <div>
    <ion-modal #chatModal [isOpen]="isModalOpen" (willDismiss)="onWillDismissChat($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">

            <ion-buttons slot="end" class="ion-hide-xl-up">
              <ion-button (click)="cancelChat()">
                <ion-icon class="nvx-standard-icon" name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

            <ion-icon *ngIf="modalType=='text'" class="nvx-standard-icon" name="chatbubbles-outline" slot="start"></ion-icon>
            <ion-icon *ngIf="modalType=='vocal'" class="nvx-standard-icon" name="mic-outline" slot="start"></ion-icon>
            

            <ion-title>{{modalType}}</ion-title>

          </ion-toolbar>
        </ion-header>

        <!-- Contenitore dei messaggi con riferimento -->
        <ion-content class="ion-padding" #chatContent>
          <div *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'You', 'assistant-message': message.sender === 'Assistant'}">
            <strong>{{ message.sender }}:</strong> {{ message.text }}
            <ion-spinner name="lines"></ion-spinner>
          </div>
        </ion-content>


        <!-- Input messaggio -->
        <ion-footer>
          <ion-toolbar>

            <ion-item *ngIf="modalType=='text'">
              <ion-textarea [(ngModel)]="newMessage"
                            placeholder="Scrivi un messaggio..."
                            rows="1"
                            auto-grow="true">
              </ion-textarea>

              <ion-button shape="round" (click)="sendMessage()" size="default" color="medium">
                <ion-icon slot="icon-only" name="send-outline"></ion-icon>
              </ion-button>
            </ion-item>


            <ion-item *ngIf="modalType=='vocal'">
              <ion-label>{{ speechService.VoiceCommandActive ? 'Comandi vocali attivi' : 'Comandi vocali disattivati' }}</ion-label>
              <ion-button shape="round" (click)="toggleVoiceCommand()" size="default" color="{{ speechService.VoiceCommandActive ? 'success' : 'medium' }}">
                <ion-icon [name]="speechService.VoiceCommandActive ? 'mic' : 'mic-off'" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>



          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>


  </div>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button (click)="openModal('text')">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openModal('vocal')">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-fab-button>


    </ion-fab-list>




  </ion-fab>
</div>
