<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="_editForm">

    <ion-card>
      <ion-card-content>

        <!-- Combo per selezione orario -->
        <ion-item>
          <ion-label position="floating">Orario</ion-label>
          <ion-select formControlName="idPar_Orario" placeholder="Seleziona l'orario">
            @for (orario of _par_OrarioModelList; track orario) {
              <ion-select-option [value]="orario.id">
                {{ orario.descrizione }}
              </ion-select-option>
            }
          </ion-select>
        </ion-item>
        @if (_editForm.get('_editForm.dPar_Orario')?.hasError('required') && _editForm.get('_editForm.dPar_Orario')?.touched) {
          <ion-note color="danger">
            Orario è obbligatorio.
          </ion-note>
        }


      </ion-card-content>
    </ion-card>

  </form>

</ion-content>


<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>
