<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-accordion-group [value]=selectedMenu>

          <ng-container>
            @for (group of groupedUserMenu; track group;let i = $index) {
            @if (group.menuItem.length > 0) {
            <ion-accordion value="{{group.menuHeader.title}}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
                <ion-label>{{ group.menuHeader.title }}</ion-label>
              </ion-item>

              <div class="ion-padding" slot="content" style="padding:0px;">
                <ion-list id="nvx-list">

                  @for (p of group.menuItem ; track p; let i = $index) {
                  <ng-container *ngIf="p.menuType === 0">
                    <ion-menu-toggle auto-hide="false" *ngIf="showPage4User(p.component)">
                      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ng-container>
                  <ng-container *ngIf="p.menuType === 2">
                    <ion-note>{{ p.title }}</ion-note>
                  </ng-container>
                  }
                </ion-list>
              </div>

            </ion-accordion>
            }
            }
          </ng-container>


          <ng-container *ngIf="authService.IsSuperUser">
            @for (group of groupedSuperUserMenu; track group;let i = $index) {
            @if (group.menuItem.length > 0) {
            <ion-accordion value="{{group.menuHeader.title}}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
                <ion-label>{{ group.menuHeader.title }}</ion-label>
              </ion-item>

              <div class="ion-padding" slot="content" style="padding:0px;">
                <ion-list id="nvx-list">

                  @for (p of group.menuItem ; track p; let i = $index) {
                  <ng-container *ngIf="p.menuType === 0">
                    <ion-menu-toggle auto-hide="false" *ngIf="showPage4SuperUser(p.component)">
                      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ng-container>
                  <ng-container *ngIf="p.menuType === 2">
                    <ion-note>{{ p.title }}</ion-note>
                  </ng-container>
                  }
                </ion-list>
              </div>

            </ion-accordion>
            }
            }
          </ng-container>


          <ng-container *ngIf="authService.IsInGroupAdmin">
            @for (group of groupedAdminMenu; track group;let i = $index) {
            @if (group.menuItem.length > 0) {
            <ion-accordion value="{{group.menuHeader.title}}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
                <ion-label>{{ group.menuHeader.title }}</ion-label>
              </ion-item>

              <div class="ion-padding" slot="content" style="padding:0px;">
                <ion-list id="nvx-list">

                  @for (p of group.menuItem ; track p; let i = $index) {
                  <ng-container *ngIf="p.menuType === 0">
                    <ion-menu-toggle auto-hide="false" *ngIf="showPage4Admin(p.component)">
                      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ng-container>
                  <ng-container *ngIf="p.menuType === 2">
                    <ion-note>{{ p.title }}</ion-note>
                  </ng-container>
                  }
                </ion-list>
              </div>

            </ion-accordion>
            }
            }
          </ng-container>


          <ng-container *ngIf="authService.IsInGroupDealerAdmin">
            @for (group of groupedDealerAdminMenu; track group;let i = $index) {
            @if (group.menuItem.length > 0) {
            <ion-accordion value="{{group.menuHeader.title}}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
                <ion-label>{{ group.menuHeader.title }}</ion-label>
              </ion-item>

              <div class="ion-padding" slot="content" style="padding:0px;">
                <ion-list id="nvx-list">

                  @for (p of group.menuItem ; track p; let i = $index) {
                  <ng-container *ngIf="p.menuType === 0">
                    <ion-menu-toggle auto-hide="false" *ngIf="showPage4DealerAdmin(p.component)">
                      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ng-container>
                  <ng-container *ngIf="p.menuType === 2">
                    <ion-note>{{ p.title }}</ion-note>
                  </ng-container>
                  }
                </ion-list>
              </div>

            </ion-accordion>
            }
            }
          </ng-container>


          <ng-container *ngIf="authService.IsInGroupFinancialAdvisorAdmin">
            @for (group of groupedFinancialAdvisorAdminMenu; track group;let i = $index) {
            @if (group.menuItem.length > 0) {
            <ion-accordion value="{{group.menuHeader.title}}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
                <ion-label>{{ group.menuHeader.title }}</ion-label>
              </ion-item>

              <div class="ion-padding" slot="content" style="padding:0px;">
                <ion-list id="nvx-list">

                  @for (p of group.menuItem ; track p; let i = $index) {
                  <ng-container *ngIf="p.menuType === 0">
                    <ion-menu-toggle auto-hide="false" *ngIf="showPage4FinancialAdvisorAdmin(p.component)">
                      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ng-container>
                  <ng-container *ngIf="p.menuType === 2">
                    <ion-note>{{ p.title }}</ion-note>
                  </ng-container>
                  }
                </ion-list>
              </div>

            </ion-accordion>
            }
            }
          </ng-container>


          <ng-container *ngIf="authService.IsInGroupCompanyAdmin">
            @for (group of groupedCompanyAdminMenu; track group;let i = $index) {
            @if (group.menuItem.length > 0) {
            <ion-accordion value="{{group.menuHeader.title}}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
                <ion-label>{{ group.menuHeader.title }}</ion-label>
              </ion-item>

              <div class="ion-padding" slot="content" style="padding:0px;">
                <ion-list id="nvx-list">

                  @for (p of group.menuItem ; track p; let i = $index) {
                  <ng-container *ngIf="p.menuType === 0">
                    <ion-menu-toggle auto-hide="false" *ngIf="showPage4CompanyAdmin(p.component)">
                      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ng-container>
                  <ng-container *ngIf="p.menuType === 2">
                    <ion-note>{{ p.title }}</ion-note>
                  </ng-container>
                  }
                </ion-list>
              </div>

            </ion-accordion>
            }
            }
          </ng-container>

        </ion-accordion-group>




      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">
      <app-http-background-working-component></app-http-background-working-component>
      <app-http-background-error-dialog></app-http-background-error-dialog>
      <app-parameter-loader></app-parameter-loader>
    </ion-router-outlet>

  </ion-split-pane>

  <app-fab-menu></app-fab-menu>

</ion-app>
