<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>


        <ion-list id="nvx-list" *ngIf="authService.IsSuperUser">
          <ion-list-header>SuperUser</ion-list-header>
          <ion-note>Elementi menu SuperUser</ion-note>

          @for (p of appPages4SuperUser; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>

        <ion-list id="nvx-list" *ngIf="authService.IsInGroupAdmin">
          <ion-list-header>Admin</ion-list-header>
          <ion-note>Elementi menu Admin</ion-note>

          @for (p of appPages4Admin; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>

        <ion-list id="nvx-list" *ngIf="authService.IsInGroupDomainAdmin">
          <ion-list-header>DomainAdmin</ion-list-header>
          <ion-note>Elementi menu DomainAdmin</ion-note>

          @for (p of appPages4CompanyAdmin; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>

        <ion-list id="nvx-list">
          <ion-list-header>User</ion-list-header>
          <ion-note>Elementi menu user</ion-note>

          @for (p of appPages4User; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>







        <ion-list id="inbox-list">
    <ion-list-header>Inbox</ion-list-header>
    <ion-note>hi&#64;ionicframework.com</ion-note>

    @for (p of appPages; track p; let i = $index) {
    <ion-menu-toggle auto-hide="false">
      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
    }
  </ion-list>
        <!--<ion-list id="labels-list">
    <ion-list-header>Labels</ion-list-header>

    @for (label of labels; track label) {
    <ion-item lines="none">
      <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
      <ion-label>{{ label }}</ion-label>
    </ion-item>
    }
  </ion-list>-->


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">

      <app-http-background-working-component></app-http-background-working-component>

    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
