
<app-page-toolbar [title]="title"
  [headerColor]="'primary'"
  [showFilter]="false"
  [showBreadcrumbs]="false"
  [showActiveJobs]="false">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>

      @if (isTemplateRef(message)) {
        <ng-container *ngTemplateOutlet="message"></ng-container>
      } @else {
        <div [innerHTML]="message"></div>
      }

    </ion-card-content>
  </ion-card>

</ion-content>

<app-page-buttonbar [buttonbar]="local_buttons"></app-page-buttonbar>


