<app-page-toolbar [title]="Title"
                  [showFilter]="ShowFilter"
                  [showBreadcrumbs]="true">
</app-page-toolbar>




<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>



      <form [formGroup]="_editForm">

        <ion-segment (ionChange)="segmentChanged($event)" [value]="currSection">
          <ion-segment-button value="first" content-id="first">
            <ion-label>Approvazioni</ion-label>
          </ion-segment-button>
          <ion-segment-button value="second" content-id="second">
            <ion-label>Varie</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div [hidden]="currSection!='first'">
          <ion-list>
            <ion-list-header>
              <ion-label>Tipo Approvazione</ion-label>
            </ion-list-header>

            <ion-radio-group formControlName="approvazioneTipo">
              <ion-item *ngFor="let option of tipoApprovazioneOptions">
                <ion-label>{{ getTipoApprovazioneLabel(option.value) }}</ion-label>
                <ion-radio [value]="option.value" slot="start"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>

        <div [hidden]="currSection!='second'">
        </div>



      </form>

    </ion-card-content>
  </ion-card>

</ion-content>






<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>
