<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="false">
</app-page-toolbar>

<ion-content [fullscreen]="true">
  <div class="login-content-center">
    <ion-card>
      <ion-card-content>

        <br />

        <app-sedi-reparto-user-navigation [showPeriodSelect]="false"
                                          [showSediSelect]="true"
                                          [showRepartoSelect]="true"
                                          [showUserSelect]="false"
                                          (periodChange)="onPeriodChange($event)"
                                          (sediIdChange)="onSedeChanged($event)"
                                          (repartoIdChange)="onRepartiChanged($event)"
                                          (allUsersIdChange)="onAllUsersInSelectionChanged($event)"
                                          (currUserIdChange)="onCurrentUserChanged($event)">
        </app-sedi-reparto-user-navigation>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>
