<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <!-- Contenitore per l'immagine splash -->
  <div *ngIf="showSplash" class="splash-container" [class.fade-out]="startFadeOut">
    <h1>Progetto</h1>
    <img src="assets/SiSignore.JPG" alt="Splash Image" />
  </div>

  <ion-card *ngIf="!showSplash">
    <ion-card-content>

      <br />

      <div id="container" >
        <strong class="capitalize">{{ title }}</strong>
        <p>{{title}}Component works...</p>

      </div>
      <br />

    </ion-card-content>
  </ion-card>

  <!--<app-fab-menu></app-fab-menu>-->

</ion-content>


