<app-page-toolbar [title]="title"
                  [showFilter]="false"
                  [showBreadcrumbs]="true">
</app-page-toolbar>

<ion-content [fullscreen]="true">

  <br />
  <br />
  <br />
  <br />

  <!--<div class="location-badge">
    <ion-icon name="location"></ion-icon>
    <span>{{ location }}</span>
  </div>-->

  <div class="form-section">
    <div class="form-input date-input-container">
      <ion-datetime-button datetime="startDatetime"></ion-datetime-button>
    </div>
  </div>

  <div class="clock-container">
    <!--<div class="date">{{ formattedDate }}</div>-->
    <div class="time">{{ currentTime }}</div>
  </div>

  <ion-card class="ion-text-center ion-padding" style="background: var(--ion-toolbar-background); color: var(--ion-toolbar-color);">
    <ion-card-content>
      <ion-label class="ion-text-uppercase">
        Ultima timbratura: {{ lastAction }}
      </ion-label>
    </ion-card-content>
  </ion-card>

  <!--<div class="button-container">
    <button class="clock-button clock-in-out" (click)="clockInOut()">
      <ion-icon name="time-outline"></ion-icon>
      <span>TIMBRA</span>
    </button>
  </div>-->
  <!-- Modals remain the same -->
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="startDatetime"
                    [(ngModel)]="startDateBtn"
                    presentation="date"
                    [showDefaultButtons]="true"
                    doneText="Fatto"
                    cancelText="Annulla"
                    locale="it-IT">
      </ion-datetime>
    </ng-template>
  </ion-modal>

</ion-content>

<app-page-buttonbar [buttonbar]="buttonbar"></app-page-buttonbar>
