/* time-clock-user-page.component.scss */
ion-menu-button {
  color: var(--ion-color-primary);
}

.dark-background {
  --background: #121212;
  --color: white;
}

.location-badge {
  background-color: #e0f2e0;
  color: #027602;
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  ion-icon {
    margin-right: 10px;
    font-size: 24px;
  }
}

.clock-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

  .date {
    color: #cccccc;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .time {
    color: #cccccc;
    font-size: 70px;
    font-weight: bold;
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 60px;

  .clock-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    font-weight: bold;

    ion-icon {
      font-size: 32px;
      margin-bottom: 10px;
    }

    &.check-in {
      background-color: #006644;
      color: white;
    }

    &.check-out {
      background-color: #8a2727;
      color: white;
    }
  }
}

.last-action {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #444444;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}
